/* GENERAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif; */

/* UNIVERSAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    outline: none;
}

:root {
    --Nav__Text__Color: #525252;
    --Nav__Hover__Color: #360b0b;
}

body {
    font-size: 1rem;
}

/* Hero Styles */
.Hero {
    background-color: #f9f4e8;
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}

/* Navigation Bar */
.Nav {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav__Logo {
    flex-basis: 15em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navigation Bar Logo */
.Nav__Logo>a {
    font-family: 'Lato', sans-serif;
    margin-left: 1em;
    width: 8.75rem;
    background: linear-gradient(to right, #eaa955, #ea5573);
    color: #f5f5f5;
    padding: 0.3125rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 1.5625rem;
    text-decoration: none;
    text-align: center;
}

.Nav__Logo>a:hover,
.Nav__Logo>a:focus {
    color: var(--Nav__Hover__Color);
}

/* Navigation Bar Links*/
.Nav__Links {
    flex: 1;
    text-align: center;
}

.Nav__Links li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1rem;
}

.Nav__Links li a {
    text-decoration: none;
    color: var(--Nav__Text__Color);
    font-weight: 600;
}

.Nav__Links li a:hover,
.Nav__Links li a:focus {
    text-decoration: underline;
    text-decoration-color: var(--Nav__Hover__Color);
    color: var(--Nav__Hover__Color);
    outline: none;
}

/* Navigation Bar Call To Action */
.Nav__Ctn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav__Ctn a {
    margin: 0 0.5rem;
    text-decoration: none;
}

.Nav__Ctn__SignIn {
    color: var(--Nav__Text__Color);
    font-weight: 600;
}

.Nav__Ctn__SignIn:hover,
.Nav__Ctn__SignIn:focus {
    text-decoration: underline;
    text-decoration-color: var(--Nav__Hover__Color);
    color: var(--Nav__Hover__Color);
}

.Nav__Ctn__Waitlist {
    color: #fff;
    font-weight: 600;
    padding: 0.75rem 0.9375rem;
    border-radius: 0.3125rem;
    background-color: #4977ea;
}

.Nav__Ctn__Waitlist:hover,
.Nav__Ctn__Waitlist:focus {
    color: var(--Nav__Hover__Color);
}

/* Navigation Bar Menu*/
.Nav__Hamburger {
    width: 1.875rem;
    height: 1.875rem;
    display: none;
    /* position: absolute; */
}

.Nav__Hamburger div {
    background-color: #000;
    width: 1.875rem;
    height: 0.3125rem;
}

.Nav__Hamburger div:nth-child(1) {
    transform: translateY(4px);
}

.Nav__Hamburger div:nth-child(2) {
    transform: translateY(8px);
}

.Nav__Hamburger div:nth-child(3) {
    transform: translateY(12px);
}

/* MAIN CONTENT */


/* FIRST COL */
.Row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

.col {
    flex-basis: 50%;
    margin-top: 2rem;
}

.col h1 {
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    line-height: 1.2;
}

.col p {
    font-size: 1.21rem;
    margin-top: 1rem;
    color: var(--Nav__Text__Color);
}

input[type="email"] {
    padding: 0.75rem 0.9375rem;
    border: none;
    background-color: #fff;
    width: 60%;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
}

input[type="email"]::placeholder {
    color: var(--Nav__Text__Color);
    font-family: 'Lato', sans-serif;
    padding: 0 0.5rem;
}

form .Nav__Ctn__Waitlist {
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

form .Nav__Ctn__Waitlist:hover,
form .Nav__Ctn__Waitlist:focus {
    color: var(--Nav__Hover__Color);
}

input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

form>label {
    position: relative;
    left: 1.5rem;
    color: var(--Nav__Text__Color);
}

form>label::before {
    content: "";
    background: url(assets/Checkmark.svg);
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -25px;
    bottom: -0;
    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked+label::before {
    transform: scale(1) rotateZ(0deg);
}

/* SECOND COL */
.col:nth-child(2) {
    position: relative;
}

.Hero__Container>.Hero__Container__img {
    transform: translate(9.375rem, 1.5625rem);
    height: 23.75rem;
    width: 20.125rem;
    z-index: 333;
    position: relative;
    z-index: 3;
}

.Shapes {
    height: 23.75rem;
    width: 20.125rem;
    position: absolute;
    z-index: 1;
    top: 1.5625rem;
    left: 9.375rem;
}

.Shapes:nth-child(2) {
    transform: rotateZ(-30deg);
}

.Shapes:nth-child(3) {
    transform: rotateZ(-20deg);
}

.Shapes:nth-child(4) {
    transform: rotateZ(-10deg);
}

/* FOOTER STYLES */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(5rem);
}

footer ul li {
    display: inline-block;
    margin-right: 1rem;
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: var(--Nav__Text__Color);
    font-weight: 500;
}

footer ul li a:hover,
footer ul li a:focus {
    text-decoration-color: var(--Nav__Hover__Color);
    color: var(--Nav__Hover__Color);
    outline: none;
}

.Help {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Help__avatar {
    margin-right: 1rem;
}

.Help__Description p {
    font-family: 'Lato', sans-serif;
}

.Help__Description p:nth-child(2) {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {

    /* HERO STYLES */
    .Hero {
        width: 100%;
        height: 145vh;
    }

    /* NAV STYLES */
    .Nav {
        justify-content: flex-start;
    }

    .Nav__Ctn {
        display: none;
    }

    .Nav__Links {
        background-color: #333;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 20%;
        z-index: 999;
        margin-top: -900px;
    }

    .Nav__Links li {
        display: block;
        margin-bottom: 6rem;
    }

    .Nav__Links li a {
        color: #E6E6E6;
    }

    .Nav__Hamburger {
        display: block;
        position: absolute;
        z-index: 99999;
        right: 3.5rem;
        cursor: pointer;
    }

    .Nav__Hamburger div {
        background-color: #000;
    }

    /* SECTION STYLES */
    .Row {
        flex-direction: column-reverse;
    }

    .col {
        flex-basis: 100%;
        margin-top: 0.5rem;
    }

    .col h1 {
        font-size: 3.3rem;
    }

    .col p {
        font-size: 1rem;
    }

    .Hero__Container>.Hero__Container__img {
        transform: translateX(3.125rem);
        height: 23.75rem;
        width: 20.125rem;
        z-index: 333;
        position: relative;
    }

    .Shapes {
        height: 23.75rem;
        width: 20.125rem;
        top: 0px;
        left: 3.125rem;
    }

    /* FOOTER STYLES */
    footer {
        height: 5.25rem;
        transform: translateY(7.9375rem);
    }
}

@media only screen and (max-width: 414px) {

    /* HERO STYLES */
    .Hero {
        width: 100%;
    }

    /* NAV STYLES */
    .Nav__Logo>img {
        width: 80px;
    }

    .Nav__Logo {
        justify-content: flex-start;
    }

    .Nav__Logo>a {
        width: 7rem;
        padding: 0.2125rem 0.50rem;
        font-size: 0.75rem;
    }

    .Nav__Hamburger {
        right: 2rem;
    }

    /* SECTION STYLES */
    .Row {
        flex-direction: column-reverse;
    }

    .col {
        flex-basis: 100%;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .col h1 {
        font-size: 2.9rem;
    }

    .col p {
        font-size: 0.95rem;
    }

    .Hero__Container>.Hero__Container__img {
        transform: translateX(0.625rem);
        height: 18.75rem;
        width: 15.125rem;
    }

    .Shapes {
        height: 18.75rem;
        width: 15.125rem;
        top: 0px;
        left: 0.625rem;
    }

    input[type="email"] {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

    form .Nav__Ctn__Waitlist {
        display: block;
        width: 100%;
        margin: 0;
        padding-block: 1.25rem;
    }



    /* FOOTER STYLES */
    footer {
        flex-direction: column;
        transform: translateY(1.25rem);
    }

    ul {
        align-self: flex-start;
        margin-bottom: 1.875rem;
    }

    .Help {
        align-self: flex-start;
    }
}